<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>
<title>Ramsay Ledger</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/RamsaySite.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>A Colonial Merchant: The Ledger of William Ramsay</h1>
            <h2>Alexandria, VA 1753-1756</h2>
        </div>

		<div class="Menu">
			<span class="MenuItem"><a href="/about/">About</a></span>
			<span class="MenuItem"><a href="/departments/">Shop by Department</a></span>
			<span class="MenuItem"><a href="/wishlists/">Customer Profiles</a></span>
			<span class="MenuItem"><a href="/documents/">Documents</a></span>
        </div>
    </div>
	
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>	
</body>
</html>    
