{% extends "base.html" %}
{% block body %}
    <div class="content">
        <p>The following documents can be downloaded for use by volunteers to the project, scholars, and the community.</p>
        <p><a href="TranscriptionInstructions2.pdf"> "Transcription Instructions:" </a> This .pdf file gives detailed information on how to transcribe the ledger through the <a href="https://transcription.si.edu/"> "Smithsonian's Transcription Center"</a>.</p>
        <p><a href="comp_reports.xlsx"> "Comparative Reports:"</a> This spreadsheet gives comprehensive lists of all customers, objects, and categories as they appear in the four existing data sets.</p>
        <p><a href="CATEGORIES.xlsx"> "Category List:"</a> This list was used to standardize the designation of categories and subcategories for common objects in the database.</p>
        <p><a href="RAMSAYCLASSFINAL_master.xlsx"> "Ramsay Class Final Data Set:"</a> This is the original data set which was compiled by undergraduate and graduate students as part of a 2013 seminar at UW Madison with Dr. Ann Smart Martin. This data set reflects an assortment of purchases selected because they were highly detailed or were considered important or unusual.</p>
        <p><a href="sample_set_master.xlsx"> "Sample Data Set:"</a> This 10% sample was created by entering all sales of every tenth customer in the ledger.</p>
        <p><a href="WOMEN_master.xlsx"> "Women's Data Set:"</a> This is a data set of all women customers. The women were identified based on names and designated marital status, like Miss or Mrs.</p>
        <p><a href="RACEDATA.xlsx"> "Race Data Set:"</a> This is a data set African American customers. The initial search criteria was for customers who were either identified as property or negroes, or identified with only one name. A thorough search of the ledger produced only 5 customers grouped together on page 233.</p>
        <p>These documents are all released under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> license.
    </div>	
{% endblock %}  
