class LedgerItem(object):
    def __init__(self, title, description, image, materials, dimensions, distance, collection, link, page, department, pounds, dollars, license=None, artifact=None, date=None, origin=None, analytics=None, customer=None, ledger=None):
        self.title = title
        self.description = description
        self.image = image
        self.materials = materials
        self.dimensions = dimensions
        self.distance = distance
        self.collection = collection
        self.link = link
        self.page = page
        self.department = department
        self.pounds = pounds
        self.dollars = dollars
        self.license = license
        self.artifact = artifact
        self.date = date
        self.origin = origin
        self.analytics = analytics
        self.customer = customer
        self.ledger = ledger
