{% extends "base.html" %}
{% block body %}
    <img src="/static/VorlindaWade.jpg" alt="Vorlinda Wade" id="img2"/>
    <div class="Biography">
        <p>Vorlinda Wade was a single, wealthy landowner. After the death of her father, Zephaniah Wade in 1746, she inherited a large portion of his property which bordered George Washington's property at Mount Vernon. Although historical information about Vorlinda herself is scant, her father's probate inventory which includes eleven African slaves, one Native American slave, and two white indentured servants as well as livestock and luxury household items indicate that the family was rather prosperous.</p>

        <p>This prosperity is corroborated in the Vorlinda's purchases at the Ramsay store. 'Feminine' objects that one may expect to find on a woman's tab include twenty one purchases of textiles including silk, tammy, callico, check, and linen along with the needles, thread, scissors, pins, thimble, lace, and ribbons needed to make clothing. Her extravagant wardrobe can be best inferred by her purchases of eight pairs of 'best' shoes in a single visit, two later purchases of shoes of calamanco and silk, and a pair of double channel pumps. She also purchased a pair of stays, hose, and accessories such as handkerchiefs, gloves, and mitts.</p>

        <p>Her account, however, shows a much more diverse range of products than one may expect. She purchased an assortment of luxury household goods including a copper tea kettle, a pewter dish and plates, a pewter chamber pot, and a mortar and pestle. She procured spices, sugar, and tea for her kitchen. For outside the home, she purchased two hoes, nails, and a lock. For her stables, she purchased two bridles, and a pair of wool cards to process the wool of her sheep.</p> 

        <p>These purchases reflect not only a fashionable wealthy woman, but a landowner providing for her estate. Because she remained unmarried, she retained control of her inherited property and likely enjoyed more freedom than many contemporary women.</p>
	<div class="Footer">
		<span class="MenuItem">This customer's purchases included: </span>
            <div>
                <a href="/title/Shoes"><span class ="Thumbnails"><img src="/static/ShoesThumbnail.jpg" alt="Shoes" /></span></a></a>
                <a href="/title/Calico"><span class ="Thumbnails"><img src="/static/CalicoThumbnail.jpg" alt="Calico" /></span></a></a>
                <a href="/title/Thread"><span class ="Thumbnails"><img src="/static/ThreadThumbnail.jpg" alt="Thread" /></span></a></a>
                <a href="/title/Check"><span class ="Thumbnails"><img src="/static/CheckThumbnail.jpg" alt="Check" /></span></a></a>
                <a href="/title/Linen"><span class ="Thumbnails"><img src="/static/LinenThumbnail.jpg" alt="Linen" /></span></a></a>
                <a href="/title/Pins"><span class ="Thumbnails"><img src="/static/PinsThumbnail.jpg" alt="Pins" /></span></a></a>
                <a href="/title/Hose"><span class ="Thumbnails"><img src="/static/HoseThumbnail.jpg" alt="Hose" /></span></a></a>
            </div>
    </div>
{% endblock %}
